.profile__name {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

@media (max-width: 480px) {
  .profile__name {
    font-size: 22px;
    line-height: 28px;
    max-width: 250px;

  }
}
