.profile__avatar-wrapper {
  border-radius: 50%;
  margin-right: 28px;
  width: 120px;
  height: 120px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  .profile__avatar-wrapper {
    margin-bottom: 30px;
    margin-right: 0;
  }
}
