/* Set height as a function of the viewport to keep the footer "sticky" at the bottom */

.content {
  min-height: calc(100vh - 198px);
}

@media (max-width: 768px) {
  .content {
    min-height: calc(100vh - 160px);
  }
}

@media (max-width: 480px) {
  .content {
    min-height: calc(100vh - 120px);
  }
}


